#Foto{
    height: 80px;
    vertical-align: middle;
}
#Primo{
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

#prima-parte{
    width: 55%;
    margin: auto;
    margin-top: 4%;
    
}
#frase1{
    
    border: 2px solid ;
    border-color: #6495ED;
    border-radius: 20px;
    background-color: #6495ED;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 3px; 
}
#frase2{
    border: 2px solid;
    border-color: whitesmoke;
    border-radius: 20px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    padding: 3px;
}